.navbar {
    margin-bottom: 0 !important;

}

.post-content {
    position: absolute;
    font-size: 150%;
    color: #fff;
    padding: 0 20px;
    width: 80%;
    line-height: 150%;
    background: rgb(255,255,255);
    background: rgba(255, 255, 255, 0.2);

}

@media screen and (max-width:664px) {
    .post-content {
        position:relative;
        width:100%;
        background: rgba(255, 255, 255, 1);
        font-size: 100%;
        horiz-align:center;
        margin-bottom: 50px;
    }
}

@media screen and (min-width:665px) and (max-width:800px) {
    .post-content {
        top: 50px;
    }

}
@media screen and (min-width:799px) and (max-width:1019px) {
    .post-content {
        top: 150px;
    }

}

@media screen and (min-width:1020px) and (max-width:1299px) {
    .post-content {
        bottom: 200px;
    }

}

@media screen and (min-width:1300px) {
    .post-content {
        bottom:100px;
    }

}

.page-hero h1 {
    color: #052F5F;
    font-size: 80px;
    margin-left:30px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0;
    vertical-align:center;

}
.page-hero h2 {
    font-size: 30px;
    margin-left:30px;
    color: #052F5F;

}