<template name="home">
    <div class="page-hero meteor-blog-featured-image meteor-blog-full-width-image">
        <div class="meteor-blog-aspect-ratio-placeholder">
            <img src="/images/signs_desktop.jpg" class="img-responsive">
            <div class="caption post-content">
                <h1>Hello, world!</h1>
                <h2>This is a simple hero unit, a simple jumbotron-style component for calling extra 7
                    attention to featured content or information.</h2>
                <div class="btn btn-default btn-raised btn-lg text-right" style="margin-left:30px;">Donate</div>
            </div>
        </div>
    </div>
    <div class="container">
        {{> blogIndex }}
    </div>
</template>